/* FONTS */

/* BROTHER REGULAR */
@font-face {
  font-family: "SpookyRegular";
  src: url("../fonts/Spooky\ Monster.woff2") format("woff2"),
       url("../fonts/Spooky\ Monster.woff") format("woff"),
       url("../fonts/Spooky-Monster.ttf") format("truetype");

}

body {
  height: 100%vh;
  max-width: 100%;
  background: linear-gradient(180deg, #b9340b 0%, #120501 100%);
  margin-left: 40px;
  margin-right: 40px;
}



header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: 400;
  font-family: "SpookyRegular";
  text-align: center;
  color: #cdcaca;
  
}

.portada {
  display: flex;
  justify-content: center;
}

.portadaImg {
  width: 100%;
}


.subtitulo{
  font-weight: 400;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  padding-top: 10px;
  
}


.textoSubtitulo{
  color:#cdcaca;
  text-align: justify;
  padding-bottom: 10px;
  width: 100%;
}

.seguir{
  position:static;
  width: 93px;
  max-width: 100;
  height: 55px;
  background-color: #ae2c05fc;
  color: #cdcaca;
  border-style: none;
  margin-left: 236px;
  
  
}


.ideas{
  font-weight: 400;
  font-size: 24px;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  padding-top: 30px;
}


/* PRIMERA FOTO DE LOS 3 FIGCAPTION */
.primeraFoto{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fotoCalabaza{
  width: 100%;
}

.textoCalabaza{
  color:#cdcaca;
  text-align: justify;
  padding-top: 15px;
}



.segundaFoto{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fotoCalabaza2{
  width: 100%;
}

.textoCalabaza2{
  color:#cdcaca;
  text-align: justify;
  padding-top: 15px;
}


/* TERCERA FOTO DE LOS 3 FIGCAPTION */

.terceraFoto{
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.fotoCalabaza3{
  width: 100%;
}

.textoCalabaza3{
  color:#cdcaca;
  text-align: justify;
  padding-top: 15px;
}


/* OPNINIONES */

.añoPasado{
  font-weight: 400;
  font-size: 20px;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  padding-top: 30px;
}



/* OPINION DE RAUL */

.fotoChico{
  padding-top: 40px;
  
}


.fotoOpinion1{
  width: 100%;
  border-radius: 50%;
}

.textoOpinion1{
  color:#cdcaca;
  text-align: justify;
  padding-top: 15px;
}


.raul{
  font-weight: 400;
  font-size: 20px;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  
}

/* OPINION DE LAURA */

.fotoChica{
  padding-top: 40px;
  
}


.fotoOpinion2{
  width: 100%;
  border-radius: 50%;
}

.textoOpinion2{
  color:#cdcaca;
  text-align: justify;
  padding-top: 15px;
  
}


.laura{
  font-weight: 400;
  font-size: 20px;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  
}



/* FORMULARIO */

.teApuntas{
  font-weight: 400;
  font-size: 25px;
  font-family: "SpookyRegular";
  color: #cdcaca;
  text-align: center;
  padding-top: 30px;
}


.contacto{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 17px;

}

.nombreForm{
  width: 250px;
  height: 30px;
}

.apellidoForm{
  width: 250px;
  height: 30px;
}

.emailForm{
  width: 250px;
  height: 30px;
}

.telfForm{
  width: 250px;
  height: 30px;
}


input::placeholder {
  padding: 20px 20px;
  border: none;
}

textarea::placeholder{
  padding: 20px 13px;
  border: none;
}

.añadir{
  resize: none; 
  height: 100px;
  left: 50px;
  width: 250px;
}


.enviar{
  padding: 10px 10px;
  border: none;
}

